@import "./assets//source.scss";

._btn__sourend {
  border: solid $color-black 2px;
  color: $color-black;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
}

.App {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.Loading {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $color-white;
  background-color: $color-black;
  min-height: 100vh;

  .title {
    font-size: 70px;
    animation: App-Loading-title-inner 1 1.5s ease-in-out;
  }

  .text {
    margin-top: 5vh;
    font-size: 30px;
    // animation: App-Loading infinite 4s linear;
  }
}

@keyframes App-Loading-title-inner {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }